.afwp-accordion .menu-item{
    padding:0px;
    margin:0;
    border-top:1px solid #fff;
}

.afwp-accordion .menu-item{
    position: relative;
}
.afwp-accordion .menu-item a{

    display: block;
    color: rgb(255, 255, 255);
    padding: 10px 0 10px 15px;
    margin: 0;
    background: rgb(22, 160, 133);
    text-transform: uppercase;
    line-height: 1.4em;
    cursor: pointer;
    box-shadow: none;
}

.afwp-accordion .menu-item a:hover,
.afwp-accordion .current-menu-item>a{
    background:rgb(9, 160, 108);
    color:#fff;
}

.afwp-accordion .menu-item a:hover{
    text-decoration:none;
    box-shadow: none;
}

.afwp-accordion .menu-item-has-children{
    position:relative;
}

.afwp-accordion .menu-item-has-children>ul{
    display:none;

}

.afwp-accordion .menu-item-has-children>ul>li>a{
    padding-left:10px;
}

.afwp-accordion .menu-item-has-children>a{
    padding-right:35px;
}

.afwp-toggle-icon{
    height: 100%;
    width: 35px;
    border-left: 1px solid #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color:#fff;
    text-align: center;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    cursor:pointer;
}

.afwp-toggle-icon:before{
    content:"+";
}

.afwp-toggle-icon.slide-down:before{
    content:"-";
}


/*gap*/
.afwp-accordion .menu-item>a{
    padding-left:15px;
}

.afwp-accordion .menu-item .menu-item>a{
    padding-left:30px;
}

.afwp-accordion .menu-item .menu-item .menu-item>a{
    padding-left:45px;
}

.afwp-accordion .menu-item .menu-item .menu-item .menu-item>a{
    padding-left:60px;
}

.afwp-accordion .menu-item .menu-item  .menu-item .menu-item .menu-item>a{
    padding-left:75px;
}

.afwp-accordion .menu-item .menu-item  .menu-item  .menu-item .menu-item .menu-item>a{
    padding-left:90px;
}